@using WebSample.Resources
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>WEB SAMPLE</h2>
    <p class="lead">This is a small sample of MVC submission with data validation on both server and client side</p>    
    <p><a href="~/account/register" class="btn btn-primary btn-lg">@Labels.GoTest &raquo;</a></p>
</div>
